﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Медичний центр "Швидка допомога"</title>
    @*<link href="~/Images/littleambulance.ico" rel="icon" type="image/x-icon" />*@
    <link href="@Url.Content("~/Images/littleambulance.ico")" rel="stylesheet" type="image/x-icon" />
    @*<link href="~/Styles/StylesIndex.css" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Styles/StylesIndex.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
</head>
<body>
    <header>
        <h1>Медичний центр "Швидка допомога"</h1>
        <center>
            <div id="menu">
                @Html.ActionLink("Головна", "Index", "MedicalCentre")
                @Html.ActionLink("Графік прийому", "Workday", "MedicalCentre")
                @Html.ActionLink("Запис на прийом", "Appointments", "MedicalCentre")
                @Html.ActionLink("Контакти", "Phone", "MedicalCentre")
            </div>
        </center>
    </header>
    <div>
        @RenderBody()
    </div>
    <div class="space">
        &nbsp;
    </div>
    <div class="car">
        <img src="~/Images/ambulance.png" />
    </div>
    <footer>
        <h6>2015 © Медичний центр “Швидка допомога” м.Рівне</h6>
    </footer>
    <script src="~/Scripts/pages/tasks-page.js"></script>
</body>
</html>
