﻿body {
    background-color:#c9fff0
}

h1 {
    text-align:center
}

ul {
    list-style-type:none; 
    width:608px; 
    height:20px; 
    position:relative; 
    margin:0 auto;
}

li {
    float:left; 
    width:100px
}

caption {
    font-family:Arial,sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:5px
}

dl {
    margin:15px
}

dt {
    font-weight:bolder
}

dd {
    text-align:justify
}

div.listdl {
    width:45%; 
    float:left; 
    margin-top:25px
}

div.space {
    width:5%; 
    float:left
}

div.car {
    width:50%; 
    float:left; 
    margin-top:25px
}

div img {
    margin:12px; 
    padding:12px; 
    width:90%; 
    height:auto
}

#menu a {
    padding:5px;
    border-radius:5px;
    margin-right:5px;
    color:black;
    text-decoration:none;
    font-family:'Comic Sans MS',sans-serif
}

#menu a:hover {
    background-color:azure
}

fieldset {
    width:305px
}

textarea {
    resize:none
}

footer{
	float:left; 
	width:50%;
	margin-left:20px;
}



