﻿@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="listdl">
    <form>
        <fieldset>
            <legend>Записатись на прийом</legend>
            <table>
                <tr>
                    <td><label>Прізвище</label></td>
                    <td><input type="text" size="30" /></td>
                </tr>
                <tr>
                    <td><label>Ім'я</label></td>
                    <td><input type="text" size="30" /></td>
                </tr>
                <tr>
                    <td><label>Телефон</label></td>
                    <td><input type="text" size="30" /></td>
                </tr>
                <tr>
                    <td><label>Дата прийому</label></td>
                    <td><input type="datetime-local" size="30" /></td>
                </tr>
                <tr>
                    <td><label>Спеціаліст</label></td>
                    <td>
                        <select>
                            <option selected="selected">---</option>
                            <option>Терапевт</option>
                            <option>Ендокринолог</option>
                            <option>Травматолог</option>
                            <option>Пульмонолог</option>
                            <option>Гінеколог</option>
                            <option>Уролог</option>
                            <option>Імунолог</option>
                            <option>Дерматолог</option>
                            <option>Гастроентеролог</option>
                            <option>Офтальмолог</option>
                            <option>Невропатолог</option>
                            <option>Кардіолог</option>
                            <option>Отоларинголог (ЛОР)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Скарги</label></td>
                    <td><textarea cols="31" rows="4" size="30"></textarea></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Записатись" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
