﻿@using MedicalCentre.Entities;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DoctorEntity> doctor = ViewBag.Doctors;
}

<div class="listdl">
    <dl>
        @foreach (var doc in doctor)
        {
            <dt>@doc.Name</dt>
            <dd>@doc.Description</dd>
        }
    </dl>
</div>
