﻿@{
    ViewBag.Title = "Phone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="listdl">
    <table border="1">
        <caption>Телефонний довідник</caption>
        <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Телефон</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Головний лікар</td>
            <td>11-22-33</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Реєстратура</td>
            <td>44-55-66</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Довідка</td>
            <td>77-88-99</td>
        </tr>
    </table>
</div>

