﻿@{
    ViewBag.Title = "Workday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="listdl">
    <table border="1">
        <caption>Графік прийому лікарів</caption>
        <tr>
            <th>№</th>
            <th>Спеціаліст</th>
            <th>Години прийому</th>
            <th>Дні прийому</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Терапевт</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ендокринолог</td>
            <td>8:00-17:00</td>
            <td>Понеділок,Середа</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Травматолог</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Пульмонолог</td>
            <td>8:00-17:00</td>
            <td>Середа</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Гінеколог</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Уролог</td>
            <td>8:00-17:00</td>
            <td>Червер</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Імунолог</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Дерматолог</td>
            <td>8:00-17:00</td>
            <td>Середа,Четвер</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Гастроентеролог</td>
            <td>8:00-17:00</td>
            <td>Вівторок</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Офтальмолог</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Невропатолог</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Кардіолог</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Отоларинголог (ЛОР)</td>
            <td>8:00-17:00</td>
            <td>Щоденно</td>
        </tr>
    </table>
</div>
